/* Helpers
================================
	scss/utilities/_helpers.scss
*/

/* Lists */
.list-unstyled {
	list-style: none;
}

/* Visibility */
.d-none {
	display: none !important;
}
.d-block {
	display: block !important;
}

/* Print */
.show-print {
	display: none;
}
@media print {
	.show-print {
		display: block;
	}
	.hide-print {
		display: none;
	}
}