/* Typography
=========================
	scss/_typography.scss
*/

/* Text Styles */
.font-12 {
	font-size: 12px !important;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	line-height: 1.5;
	letter-spacing: normal;
}
.font-14 {
	font-size: 14px;
	font-weight: normal;
	font-stretch: normal;
	font-style: normal;
	letter-spacing: normal;
}

/* Lists Styles */
.list-disc {
	list-style-type: disc;
}
.list-circle {
	list-style-type: circle;
}
.list-square {
	list-style-type: square;
}
.list-decimal {
	list-style-type: decimal;
}
.list-upper-roman {
	list-style-type: upper-roman;
}
.list-lower-roman {
	list-style-type: lower-roman;
}
.list-upper-alpha {
	list-style-type: upper-alpha;
}
.list-lower-alpha {
	list-style-type: lower-alpha;
}
