/* Variables
========================
	scss/_variables.scss
*/

/* Colors */
$body-text: #212121;
$body-background: #ffffff;

$color-white: #ffffff;
$color-grey: #f5f5f5;
$color-black: #000000;

$link-color: #215fac;
$link-hover: #1976D2;

$icon-color: #000000;
$icon-hover: #1976D2;

.text-white {
	color: $color-white;
}
.text-black {
	color: $color-black;
}
.text-grey {
	color: $color-grey;
}

.bg-white {
	background: $color-white;
}
.bg-black {
	background: $color-black;
}
.bg-grey {
	background-color: $color-grey;
}

